/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 mai 2016, 03:11:45
    Author     : INTI-0243
*/

.errorMsg{color: red;}
.errorLogin{
    color: red;
    text-align:center;
}
.pannelGridCenter{
    margin: 0 auto;
    text-align:center;
}
